* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* padding changing the size whole screen */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163),rgb(48, 62, 143));
    background-image: image();
    font-family: sans-serifcolor;
    color: white
}
/*design of the location , and display temperature  */
.location, 
.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
/*  */
 } 
 
 /* changing the position of the temp structure and moving degree section */
.temperature{
flex-direction:column}

.degree.section {
    display: flex;
    align-content: center;
    cursor: pointer;
}
.degree-section h2{
    font-size: 40px;
}